<h1><%= @product.name %></h1>
<hr>
<p><strong>ID:</strong> <%= @product.id %></p>
<p><strong>SKU:</strong> <%= @product.sku %></p>
<p><strong>Category:</strong> <%= @product.category %></p>
<p><strong>Description:</strong> <%= @product.description %></p>
<p><strong>Wholesale Price:</strong> <%= number_to_currency(@product.wholesale) %></p>
<p><strong>Retail Price:</strong> <%= number_to_currency(@product.retail) %></p>
<p><strong>Created:</strong> <%= @product.created_at %></p>
<p><strong>Last Updated:</strong> <%= @product.updated_at %></p>
<hr>
<p>
  <%= link_to "Edit Product", edit_product_path(@product), class: "btn btn-default" %>
  <%= link_to "Delete Product", product_path(@product), method: :delete, class: "btn btn-default" %>
</p>

<hr>

<h2> Items: </h2>
<% if @product.items.count > 0 %>
  <table class="table table-hover">
    <thead>
      <tr><td>id</td><td>size</td><td>color</td><td>status</td></tr>
    </thead>
    <tbody>
    <% @product.items.each do |item| %>
      <tr>
        <td><%= link_to item.id, product_item_path(@product, item) %></td>
        <td><%= item.size %></td>
        <td><%= item.color %></td>
        <td><%= item.status %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<hr>
<p>
  <%= link_to "Add Item", new_product_item_path(@product), class: "btn btn-default" %>
</p>
